
VITE_SUPABASE_URL=https://ruldmjxdmdtqcvfbhuzy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1bGRtanhkbWR0cWN2ZmJodXp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYyNTY3NTYsImV4cCI6MjA4MTgzMjc1Nn0.5BhXzyFsoiDm8GdfsV3DNtiMTo-7hthvQQFBTO87Z3o
